@use '@/styles/variables' as v;

.category-page {
  width: 100%;
  height: 100%;

  & .category-page-name {
    font-weight: bold;
  }

  & .category-page-tabs {
    background-color: v.$secondary-bg-color;
  }
}
