@use '@/styles/theme' as t;

// colors
$primary-color: t.$primary;
$secondary-color: t.$secondary;
$neutral-color: t.$neutral;
$primary-bg-color: t.$primary-bg;
$secondary-bg-color: t.$secondary-bg;
$success-color: t.$success;
$warning-color: t.$warning;
$error-color: t.$error;

// backgrounds
$header-background-color: $secondary-bg-color;
$app-background-color: $secondary-color;
$app-background: linear-gradient(
  0deg,
  $secondary-color 0%,
  $secondary-color 80%,
  $header-background-color 100%
);
// $app-background: linear-gradient(
//   0deg,
//   $primary-color 0%,
//   $secondary-color 80%,
//   $header-background-color 100%
// );
$primary-page-background-color: $primary-bg-color;
$secondary-page-background-color: $secondary-bg-color;

// texts
$primary-text-color: $primary-color;
$secondary-text-color: $neutral-color;
$price-text-color: $success-color;
