// $app-background-color: #bfe0ff;
$app-background-color: #20adbf;
// $app-background: linear-gradient(0deg, #bfe0ff 0%, #bfe0ff 80%, #ffffff 100%);
$app-background: linear-gradient(0deg, #20adbf 0%, #20adbf 80%, #ffffff 100%);
$header-background-color: white;
$primary-page-background-color: whitesmoke;
$secondary-page-background-color: white;

$primary-color: #0d2b4f;
$secondary-color: #20adbf;

$primary-text-color: #0d2b4f;
$secondary-text-color: #3e3e3e;
$price-text-color: limegreen;
