@use '@/styles/variables' as v;

.product-card-placeholder {
  $product-spacing: 4px;

  min-width: calc(50% - 2 * $product-spacing);
  max-width: calc(50% - 2 * $product-spacing);
  height: 550px;
  background-color: v.$secondary-page-background-color;
  margin: $product-spacing;
  border-radius: 5px;

  & > .spinner {
    height: auto;
    width: 50%;
    margin: auto;
    aspect-ratio: 1;
    padding: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    mask:
      conic-gradient(#000 0 0) content-box exclude,
      conic-gradient(#000 0 0);
    filter: blur(12px);
  }
  & > .spinner:before {
    content: '';
    position: absolute;
    inset: 0;
    background: conic-gradient(#0000 35%, #3333, #0000 65%);
    animation: l1 1.5s linear infinite;
  }
  @keyframes l1 {
    to {
      rotate: 1turn;
    }
  }

  @media only screen and (min-width: 576px) {
    /* Custom width for small devices (≥576px) */
    min-width: calc(50% - 2 * $product-spacing);
    max-width: calc(50% - 2 * $product-spacing);
  }

  @media only screen and (min-width: 768px) {
    /* Custom width for medium devices (≥768px) */
    min-width: calc(33.3% - 2 * $product-spacing);
    max-width: calc(33.3% - 2 * $product-spacing);
  }

  @media only screen and (min-width: 992px) {
    /* Custom width for large devices (≥992px) */
    min-width: calc(25% - 2 * $product-spacing);
    max-width: calc(25% - 2 * $product-spacing);
  }

  @media only screen and (min-width: 1200px) {
    /* Custom width for extra large devices (≥1200px) */
    min-width: calc(20% - 2 * $product-spacing);
    max-width: calc(20% - 2 * $product-spacing);
  }

  @media only screen and (min-width: 1400px) {
    /* Custom width for extra extra large devices (≥1400px) */
    min-width: calc(16.6% - 2 * $product-spacing);
    max-width: calc(16.6% - 2 * $product-spacing);
  }
}
