@use '@/styles/variables' as v;

#root {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  color: v.$primary-text-color;
}

.row-header {
  width: 100%;
  overflow: hidden;
  background-color: v.$header-background-color;
  position: sticky;
  top: -20px;
  z-index: 2000;
  transition: all 0.3s ease;

  &.scrolled {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
}

.row-content {
  width: 100%;
  height: 100%;
  background-color: v.$app-background-color;
  background: v.$app-background;
  // opacity: 50%;

  & > .container {
    border-radius: 5px 5px 0 0;
    border-top: 5px solid v.$primary-color;
    box-shadow: 0 8px 8px 0;
    background-color: v.$primary-page-background-color;
  }
}
